.form-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.form-container__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.close-btn {
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
}

.close-btn:hover {
  color: #a2a2a2;
  cursor: pointer;
}
